<div>
	<hr>
	<p>Giá trị Jackbot Mega 6/45 ước tính</p>
	<h4>{{$ctrl.result.budget | currency}}</h4>
	<hr>
	<p>Lần quay số tiếp theo còn </p>
	<div>
		<timer end-time="$ctrl.endTime" interval="1000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.
		</timer>
	</div>
	<hr>
	<p>Số lượng vé số đã bán tại Số Gì Đây</p>
	<h4>{{$ctrl.currentLots}}</h4>
	<uib-progressbar class="progress progress-striped active" type="info" value="$ctrl.progressValue"><i>{{$ctrl.currentLots}} / 8100000</i>
	</uib-progressbar>
	<hr>
	<form ng-submit="$ctrl.submitForm()" method="POST" name="form" role="form">
		<input type="hidden" class="form-control" name="resultDate" ng-model="$ctrl.resultDate">
		
		{{$ctrl.resultDate | date:'dd-MM-yyyy'}}
		<div class="form-group row" ng-repeat="item in $ctrl.lotteries track by $index">
			<div class="col-sm-1">
				<input type="number" min="0" max="45" class="form-control" ng-model="$ctrl.lotteries[$index].nums[0].value">
			</div>
			<div class="col-sm-1">
				<input type="number" min="0" max="45" class="form-control" ng-model="$ctrl.lotteries[$index].nums[1].value">
			</div>
			<div class="col-sm-1">
				<input type="number" min="0" max="45" class="form-control" ng-model="$ctrl.lotteries[$index].nums[2].value">
			</div>
			<div class="col-sm-1">
				<input type="number" min="0" max="45" class="form-control" ng-model="$ctrl.lotteries[$index].nums[3].value">
			</div>
			<div class="col-sm-1">
				<input type="number" min="0" max="45" class="form-control" ng-model="$ctrl.lotteries[$index].nums[4].value">
			</div>
			<div class="col-sm-1">
				<input type="number" min="0" max="45" class="form-control" ng-model="$ctrl.lotteries[$index].nums[5].value">
			</div>

			<select class="form-control" name="condition" ng-model="$ctrl.lotteries[$index].condition" ng-options="condition for condition in $ctrl.conditionEnum">
            </select>
			<button ng-click="$ctrl.removeTicket($index)" class="btn btn-danger btn-sm" ng-show="$ctrl.lotteries.length > 1">
				<span class="glyphicon glyphicon-remove-circle"></span>
				<span class="hidden-xs hidden-sm"></span>
			</button>

			<button class="btn btn-info btn-sm" ng-click="$ctrl.randomTicket($index)">
				<span class="glyphicon glyphicon-eye-open"></span>
				<span class="hidden-xs hidden-sm">Gợi ý</span>
			</button>

		</div>
		<div class="form-group row">
			<button class="btn btn-primary" ng-click="$ctrl.addTicket()">
				<span class="glyphicon glyphicon-plus"></span>
				<span >Thêm số</span>
			</button>
			<button type="submit" ng-disabled="form.$invalid" class="col-sm-2 btn btn-primary" href="">
				<i class="glyphicon glyphicon-shopping-cart"></i>Đặt vé</button>
		</div>
	</form>
</div>