<div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>User settings for [<b>{{vm.settingsAccount.email}}</b>]</h2>

			<div class="alert alert-success" ng-show="vm.success">
				<strong>Settings saved!</strong>
			</div>

			<jhi-alert-error></jhi-alert-error>

			<form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

				<div class="form-group">
					<label class="control-label" for="firstname">First Name</label>
					<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your first name" ng-model="vm.settingsAccount.profile.firstname"
						ng-minlength=1 ng-maxlength=50 required maxlength="50">
					<div ng-show="form.firstname.$dirty && form.firstname.$invalid">
						<p class="help-block" ng-show="form.firstname.$error.required">
							Your first name is required.
						</p>
						<p class="help-block" ng-show="form.firstname.$error.minlength">
							Your first name is required to be at least 1 character.
						</p>
						<p class="help-block" ng-show="form.firstname.$error.maxlength">
							Your first name cannot be longer than 50 characters.
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lastname">Last Name</label>
					<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Your last name" ng-model="vm.settingsAccount.profile.lastname"
						ng-minlength=1 ng-maxlength=50 required maxlength="50">
					<div ng-show="form.lastname.$dirty && form.lastname.$invalid">
						<p class="help-block" ng-show="form.lastname.$error.required">
							Your last name is required.
						</p>
						<p class="help-block" ng-show="form.lastname.$error.minlength">
							Your last name is required to be at least 1 character.
						</p>
						<p class="help-block" ng-show="form.lastname.$error.maxlength">
							Your last name cannot be longer than 50 characters.
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="dob">Ngày Sinh</label>
					<p class="input-group">
						<input type="text" class="form-control" name="dob" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.settingsAccount.profile.dob"
							is-open="vm.popup1.opened" ng-required="true" />
						<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openDobPicker()">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
					</p>
					<div ng-show="form.dob.$dirty && form.dob.$invalid">
						<p class="help-block">
							Your birthday is invalid.
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">E-mail</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail" ng-model="vm.settingsAccount.email"
						ng-minlength=5 ng-maxlength=100 required maxlength="100">
					<div ng-show="form.email.$dirty && form.email.$invalid">
						<p class="help-block" ng-show="form.email.$error.required">
							Your e-mail is required.
						</p>
						<p class="help-block" ng-show="form.email.$error.email">
							Your e-mail is invalid.
						</p>
						<p class="help-block" ng-show="form.email.$error.minlength">
							Your e-mail is required to be at least 5 characters.
						</p>
						<p class="help-block" ng-show="form.email.$error.maxlength">
							Your e-mail cannot be longer than 100 characters.
						</p>
					</div>
				</div>

                <div class="page-header">
					<h3>Linked Accounts</h3>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<button class="btn btn-block btn-facebook" ng-click="vm.authenticate('facebook')">
                            <i class="ion-social-facebook"></i> Sign in with Facebook
                        </button>
					</div>
				</div>
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>

</div>